$p_c:white;

%centre
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// https://www.w3schools.com/howto/howto_css_image_text.asp


.title
{
     @extend %centre;
    color: $p_c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7vw; // https://www.w3schools.com/howto/howto_css_responsive_text.asp
}


// https://www.w3.org/TR/css3-mediaqueries/#orientation
.orient
{
    background-repeat: no-repeat;
    background-size:cover;
     @media screen and (orientation:portrait)
     {
         background-position: center;
         height:100vh;
     }

    @media screen and (orientation:landscape)
    {
        width:100vw;
        height:100vh;
    }
}

table
{
    @extend %centre
}

#head_text, #song
{
    position: absolute;
    color: black;
    text-shadow:
    -1px -1px 0 $p_c,
    1px -1px 0 $p_c,
    -1px 1px 0 $p_c,
    1px 1px 0 $p_c; //https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css
}

#head_text
{
    top: 20%;
    left: 20%;
    font-size: 4vw;
}

#song
{
    font-size: 2vw;
}
a:visited
{
    color: #e8e8e8;
}


::selection
{
    color: $p_c;
    background: grey;
}